<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         vejsprsion="3.1">
  <display-name>hello-world</display-name>
  <welcome-file-list>

  </welcome-file-list>
  <absolute-ordering/>
  <servlet>
    <servlet-name>hello-firstcontroller</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:hello-firstcontroller-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello-firstcontroller</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>